.App {
  font-family: sans-serif;
  text-align: center;
}

.leaflet-container {
  height: 77vh;
  width: 100%;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.name {
  font-size: 18px;
  padding-bottom: 3px;
}

.img {
  width: 120px;
  padding-bottom: 7px;
}

a {
  color: blue;
}
